name: Django CI

on:
  push:
    branches:
      - "**"
    paths:
      - "backend/**"                
      - ".github/workflows/django.yml" 
      - "pyproject.toml"
  pull_request:
    branches:
      - "main"
    paths:
      - "backend/**"                
      - ".github/workflows/django.yml" 
      - "pyproject.toml"

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    services:
      db:
        image: postgres:15
        env:
          POSTGRES_DB: django_db
          POSTGRES_USER: django_user
          POSTGRES_PASSWORD: django_password
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "backend/uv.lock"

      - name: Set up Python
        run: uv python install 3.13

      - name: Install dependencies
        run: uv sync --group dev

      - name: Lint check
        run: uv run ruff check .

      - name: Run Tests
        env:
          DEBUG: "False"
          SECRET_KEY: "ci-secret-key-only"
          ALLOWED_HOSTS: "localhost,127.0.0.1"

          DATABASE_URL: postgres://django_user:django_password@localhost:5432/django_db

          GMAIL_CREDENTIALS_PATH: "backend/mock_creds.json"
          GMAIL_TOKEN_PATH: "backend/mock_token.json"
          GCP_PROJECT_ID: "mock-project-id"
          GCP_CREDENTIALS_SECRET_ID: "mock-secret-id"

          FERNET_KEY: "32-mock-fernet-key="
        run: |
          uv run python manage.py test
